body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

#pokemon-info {
  border: 2px solid purple;
}

#pokemon-info:hover {
  background-color: whitesmoke;
}
